$white: #ffffff;
$black: #000000;
$gray-blue-hover: #F8FAFB;
$gray-blue-border: #E0E8F0;
$darkblue: #2A3F64;
$blue: #3F6ADA;
$blue2: #4672E3;
$red: #FF2C2C;
$red2: #FF6C59;
$yellow: #FFDD00;
$green: #A2E118;
$close-color: #9DB9D1;
$light-gray: #F0F4FB;
$gray: #b2b8c4;
$placeholder-color: #D6D8DB;

$text: #1F1F1F;

// Micromodule

$mm-value: 4;
