@import "partials/params";
@import "partials/mixins";

.breadcrumbs {
  position: relative;
  display: block;

  & span {
    color: $close-color;
    margin: 0 3px;
    opacity: .4;
  }

  &__link {
    display: inline;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: $blue;

    &:last-child {
      color: $close-color;
      opacity: .7;
    }
  }

  &-block {
    display: flex;
    padding: 0 32px;
    align-items: baseline;
    flex: 0 0 100%;
    justify-content: space-between;
  }
}
