@import "partials/params";
@import "partials/mixins";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background-color: $white;
  color: $black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $blue;
  z-index: 50;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: ($mm-value * 14) + px;
  }
}

main {
  position: relative;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  padding-top: ($mm-value * 21) + px;
  z-index: 1;

  &.layout-1 {
    padding-right: 0;
    //transition: padding 0.5s;

    &.open {
      padding-right: 600px;
      //transition: padding 0.5s;
    }
  }

  &.layout-2 {
    padding-right: 0;
    padding-bottom: 56px;
    transition: padding 0.5s;

    &.open {
      padding-right: 600px;
      transition: padding 0.5s;
    }

    & .content .container {
      max-width: 974px;
      min-width: 974px;
    }

    & .popup {
      height: calc(100vh - 112px);
    }
  }

  &.layout-3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    & .content {
      //max-width: 974px;
      width: 100%;
    }

    & .container {
      //max-width: 974px;
      min-width: initial;
    }
  }
}


//div {
//  color: $black;
//  padding: 0;
//  margin: 0;
//}


.container {
  position: relative;
  width: 100%;
  /*max-width: 1700px;*/
  min-width: 1024px;
  padding: 0 32px;
  margin: 0 auto;
  z-index: 2;
}

.form-group {
  display: flex;
  flex-direction: column;

  label {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 7px;
  }

  & + & {
    margin-top: 16px;
  }
}
